<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   

		<title><%= pkgBarrita.name %> <%= pkgBarrita.version %></title>

		<meta name="description" content="<%= pkgBarrita.description %>" />
		<meta name="keywords" content="<%= pkgBarrita.keywords.join(', ') %>" />

		<link href='assets/barrita/barrita.min.css?v=<%= pkgBarrita.version %>' rel='stylesheet' type='text/css' />
		<link href='assets/styles.min.css?v=<%= pkg.version %>' rel='stylesheet' type='text/css' />

		<style type="text/css">
			.scrolleable {
			    height: 300px; 
			    overflow: auto;
			    border: 1px solid #ddd;
			}
			#demo3 .scrolleable {
			    width: 50%; 
			}
			.scrolleable button, .scrolleable img {
			    margin: 5px 0;
			}
			.scrolleable button {
			    padding: 5px;
			}
		</style>
	</head>
	<body>
		<a href="//github.com/neiker/barrita"><img style="position: absolute; top: 0; right: 0; border: 0;" src="//camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="//s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

		<div class="container" id="mainContainer">
			<h1><%= pkgBarrita.name %> <small><%= pkgBarrita.version %></small></h1>

			<hr/>

			<ul>
				<li><a href="https://github.com/neiker/barrita#how-to-use-it">Documentation</a></li>	
				<li><a href="https://github.com/neiker/barrita#install">Download</a></li>
			</ul>

			<hr/>

			<h2>Examples</h2>

			<div id="demo1">
				<p>
					<strong>Options: </strong><code class="options"></code>
				</p>
				
				<p>
					<button id="initScrolleable" class="btn btn-default" disabled>Init</button> <button id="destroyScrolleable" class="btn btn-default">Destroy</button>
				</p>
				<div class='scrolleable'>
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.</p>
					
		 			<p><img src="//lorempixel.com/400/200/" /></p>

					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.</p>

					<p><img src="//lorempixel.com/400/400/" /></p>
					
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>

					<p><img src="//lorempixel.com/400/300/" /></p>

					<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

					<p><img src="//lorempixel.com/400/250/" /></p> -->

				</div>
			</div>

			<hr/>

			<div id="demo2">
				<p>
					<strong>Options: </strong><code class="options"></code>
				</p>
				
				<p>
					<button id="addContent" class="btn btn-default">addContent</button>
					<button id="addContentReset" class="btn btn-default">setContent</button>
				</p>
				<div class='scrolleable'></div>
			
				<script type="text/template" id='addContentTempalte'>
					<p>Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

					<p><img src="//lorempixel.com/400/300/" /></p>
				</script>
			</div>

			<hr/>

			<div id="demo3">
				<p>
					<strong>Options: </strong><code class="options"></code>
				</p>
				
				<form id="setPosition" class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="positionInput">Position</label>
				    <input type="number" name="position" id="positionInput" />
				  </div>
				  
				  <button type="submit" class="btn btn-default">setPosition</button>
				</form>

				<div class='scrolleable'>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					
		 			<p><img src="//lorempixel.com/400/250/" /></p>

					<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.</p>

					<p><img src="//lorempixel.com/400/350/" /></p>
					
					<p>At vero eos et accusam et justo duo dolores et ea rebum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Stet clita kasd gubergren, no sea takimata sanctus est.</p>

					<p><img src="//lorempixel.com/400/320/" /></p>

					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.. Sanctus sea sed takimata ut vero voluptua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

					<p><img src="//lorempixel.com/400/280/" /></p> -->
				</div>
			</div>
		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<!--[if lt IE 9]>
			<script type="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
		<![endif]-->

		<script type="text/javascript" src="assets/barrita/barrita.min.js?v=<%= pkgBarrita.version %>"></script>

		<script type="text/javascript">
			/* DEMO 1 */
			(function () {
				var $demo = $('#demo1');
				var $scrolleable = $(".scrolleable", $demo);
				var $init = $('#initScrolleable');
				var $destroy = $('#destroyScrolleable');
				var options = { resize: 'manual', hoverTimeout: 0 };

				$scrolleable.barrita(options);
				$scrolleable.find('img').on('load', function (e) { 
					$scrolleable.barrita('resize');
				});

				$init.on('click', function () {
					$destroy.prop('disabled', false);
					$init.prop('disabled', true);
					$scrolleable.barrita(options);
				});

				$destroy.on('click', function () {
					$init.prop('disabled', false);
					$destroy.prop('disabled', true);
					$scrolleable.barrita('destroy');
				});

				$(".options", $('#demo1')).text(JSON.stringify(options));
			})(); 
			/* /DEMO 1 */

			/* DEMO 2 */
			(function () {
				var $demo = $('#demo2');
				var $scrolleable = $(".scrolleable", $demo);
				var addContentTempalte = $('#addContentTempalte').text();
				var options = { hoverTimeout: false };

				$scrolleable.html(addContentTempalte);
				$scrolleable.barrita(options);
				
				$('#addContent').on('click', function () {
					$scrolleable.barrita('addContent', addContentTempalte);
				});
				$('#addContentReset').on('click', function () {
					$scrolleable.barrita('setContent', addContentTempalte);
				});

				$(".options", $('#demo2')).text(JSON.stringify(options));
			})(); 
			/* /DEMO 2 */

			/* DEMO 3 */
			(function () {
				var $demo = $('#demo3');
				var $scrolleable = $(".scrolleable", $demo);
				var $positionForm = $('#setPosition');
				var $positionInput = $('[name=position]', $positionForm);
				var options = { hoverTimeout: 1000 };

				$scrolleable.barrita(options);
				$scrolleable.on('barrita:positionChange', function(e, data) {
					$('#setPosition [name=position]').val(data.scrollTop);
				});

				/*$positionInput.on('change', function () {
					$scrolleable.barrita( 'setPosition', +$(this).val() );
				});*/
				$positionForm.on('submit', function (e) {
					e.preventDefault();
					$scrolleable.barrita( 'setPosition', +$positionInput.val(), true );
				});

				$(".options", $demo).text(JSON.stringify(options));
			})(); 
			/* /DEMO 3 */
		</script>
	</body>
</html>